<section>
  <div class="container">
    <h2 class="title">slider</h2>
    <div class="slider swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto
            a aliquam nobis vero quaerat voluptate eaque quos quia similique.
          </p>
        </li>
        <li class="swiper-slide">
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </li>
        <li class="swiper-slide">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto
            a aliquam nobis vero quaerat voluptate eaque quos quia similique.
          </p>
        </li>
        <li class="swiper-slide">
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </li>
        <li class="swiper-slide">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto
            a aliquam nobis vero quaerat voluptate eaque quos quia similique.
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
